.item-1-toggle {
  padding-bottom: 120px;

  img {
    transition-property: transform;
    transition-duration: 0.25s;

    &:hover {
      cursor: pointer;
    }
  }
}

.hidden {
  display: none;
}

.rotate {
  transform: rotate(180deg);
}
